<div class="uplaod-block-main">
   <%= a.label :detail %>
   <%= a.text_field :detail , class: "form-control"%>
   <div>
      <label> <%= image_tag ( a.object.present? && a.object.file_url.present? ? a.object.file_url : "/assets/noimage.png")  , width: 150 , height: 150 , id: "img_tag" , onclick: "set_img_tag_id(this)" %>
      <span style= "display: none;" >
      <%= a.file_field :file , onchange: "readURL1(this)" %>
      </span>
      </label>
   </div>
   <%= a.link_to_remove "Remove" , class: "btn btn-danger" %>
</div>

<script type="text/javascript">
   $( document ).ready(function() {
      uid = get_uid();
      $('#img_tag').attr('id',$('#img_tag').attr('id')+uid);
        
    });
   
   $(document).on('nested:fieldAdded', function(event){
   // this field was just inserted into your form
     var field = event.field; 
   // it's a jQuery object already! Now you can find date input
     var text_field = field.find('.text');
   // and activate datepicker on it
   });
</script>